# Project 3 - Net interest income prediction
- Description: Base on the Bank's nature, it's history performance and the previous year Balance Sheet, this year planning disbursement (in this prediction, ENR is used instead), this project will provide the estimation of Net interest income (NII) of the year.
- Project's value: This project helps BOM in planning the Targetted Disbursement volumes (here ENR instead) of the year so as to achieve the NII, as well as Profit
- Data source: base on public Financial Statements of the banks

## 0. Data loading & Description

In [1]:
import pandas as pd
import numpy as np
# Data loading and droping missing value
df = pd.read_csv('Raw.csv',sep= ',').dropna()
df

,Bank,FY,Cur_TA_ENR,Pre_Total_Asset,Pre_TA_ENR,Pre_Liability,Pre_Equity,Pre_Retain_earning,Crisis,Structure_change,Top10,Domestic,NII
0,SCB,2015,169.23,242.22,133.28,229.04,13.19,0.46,0,0,0,1,4.51
1,SCB,2016,220.07,311.51,169.23,296.06,15.24,0.50,0,0,0,1,2.93
2,SCB,2017,264.15,361.68,220.07,346.22,15.46,0.53,0,0,0,1,1.89
3,SCB,2018,299.17,444.03,264.15,428.50,15.37,0.59,0,0,0,1,2.91
4,SCB,2019,330.94,508.95,299.17,492.38,16.42,0.67,0,0,0,1,4.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,BVB,2018,29.35,39.90,24.78,36.56,3.34,0.19,0,0,0,1,0.80
91,BVB,2019,33.54,46.55,29.35,43.11,3.44,0.28,0,0,0,1,0.93
92,BVB,2020,39.26,51.81,33.54,48.07,3.73,0.39,1,0,0,1,1.10
93,BVB,2021,45.69,61.10,39.26,57.21,3.89,0.53,1,0,0,1,1.43
94,BVB,2022,50.12,76.51,45.69,71.87,4.64,0.75,1,0,0,1,1.71

In [2]:
# Xá»­ lÃ½ khoáº£n tráº¯ng vÃ  cÃ¡c kÃ½ tá»± Ä‘áº·c biá»‡t
df.columns = df.columns.str.strip()
df = df.replace({'\$': ''}, regex=True)
df

,Bank,FY,Cur_TA_ENR,Pre_Total_Asset,Pre_TA_ENR,Pre_Liability,Pre_Equity,Pre_Retain_earning,Crisis,Structure_change,Top10,Domestic,NII
0,SCB,2015,169.23,242.22,133.28,229.04,13.19,0.46,0,0,0,1,4.51
1,SCB,2016,220.07,311.51,169.23,296.06,15.24,0.50,0,0,0,1,2.93
2,SCB,2017,264.15,361.68,220.07,346.22,15.46,0.53,0,0,0,1,1.89
3,SCB,2018,299.17,444.03,264.15,428.50,15.37,0.59,0,0,0,1,2.91
4,SCB,2019,330.94,508.95,299.17,492.38,16.42,0.67,0,0,0,1,4.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,BVB,2018,29.35,39.90,24.78,36.56,3.34,0.19,0,0,0,1,0.80
91,BVB,2019,33.54,46.55,29.35,43.11,3.44,0.28,0,0,0,1,0.93
92,BVB,2020,39.26,51.81,33.54,48.07,3.73,0.39,1,0,0,1,1.10
93,BVB,2021,45.69,61.10,39.26,57.21,3.89,0.53,1,0,0,1,1.43
94,BVB,2022,50.12,76.51,45.69,71.87,4.64,0.75,1,0,0,1,1.71

In [3]:
# Chuyá»ƒn Ä‘á»•i string thÃ nh dáº¡ng float
cols = ['Cur_TA_ENR', 'Pre_Total_Asset', 'Pre_TA_ENR', 'Pre_Liability', 'Pre_Equity', 'Pre_Retain_earning', 'NII']
df[cols] = df[cols].astype(float)
df

,Bank,FY,Cur_TA_ENR,Pre_Total_Asset,Pre_TA_ENR,Pre_Liability,Pre_Equity,Pre_Retain_earning,Crisis,Structure_change,Top10,Domestic,NII
0,SCB,2015,169.23,242.22,133.28,229.04,13.19,0.46,0,0,0,1,4.51
1,SCB,2016,220.07,311.51,169.23,296.06,15.24,0.50,0,0,0,1,2.93
2,SCB,2017,264.15,361.68,220.07,346.22,15.46,0.53,0,0,0,1,1.89
3,SCB,2018,299.17,444.03,264.15,428.50,15.37,0.59,0,0,0,1,2.91
4,SCB,2019,330.94,508.95,299.17,492.38,16.42,0.67,0,0,0,1,4.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,BVB,2018,29.35,39.90,24.78,36.56,3.34,0.19,0,0,0,1,0.80
91,BVB,2019,33.54,46.55,29.35,43.11,3.44,0.28,0,0,0,1,0.93
92,BVB,2020,39.26,51.81,33.54,48.07,3.73,0.39,1,0,0,1,1.10
93,BVB,2021,45.69,61.10,39.26,57.21,3.89,0.53,1,0,0,1,1.43
94,BVB,2022,50.12,76.51,45.69,71.87,4.64,0.75,1,0,0,1,1.71

Cáº§n má»™t sá»‘ phÃ¢n tÃ­ch vÃ  insights á»Ÿ Ä‘Ã¢y

## 1. Data preparation

In [5]:
# Data splitting
y = df['NII']
x = df.drop(['NII','Bank'], axis=1)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train , y_test = train_test_split(x,y, train_size=0.8, random_state=0)

## 2. Training Models

In [6]:
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor(random_state=1)

dt_model.fit(x_train,y_train)
y_train_pre = dt_model.predict(x_train)
y_test_pre = dt_model.predict(x_test)

## 3. Model Evaluation

In [7]:
from sklearn.metrics import mean_squared_error, r2_score

lr_train_mse = mean_squared_error(y_train, y_train_pre)
lr_train_r2 = r2_score(y_train, y_train_pre)

lr_test_mse = mean_squared_error(y_test, y_test_pre)
lr_test_r2 = r2_score(y_test, y_test_pre)

In [8]:
result = pd.DataFrame(['DecisionTree',lr_train_mse, lr_train_r2, lr_test_mse, lr_test_r2]).transpose()
result.comlumns = ['Method','MSE Train','R2 Train','MSE Test','R2 Test'] 
result

C:\Users\Hien\AppData\Local\Temp\ipykernel_9668\139279469.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  result.comlumns = ['Method','MSE Train','R2 Train','MSE Test','R2 Test']

              0    1    2          3         4
0  DecisionTree  0.0  1.0  56.098468  0.773571

In [9]:
x_train.head()

,FY,Cur_TA_ENR,Pre_Total_Asset,Pre_TA_ENR,Pre_Liability,Pre_Equity,Pre_Retain_earning,Crisis,Structure_change,Top10,Domestic
45,2019,266.16,329.33,227.98,308.32,21.02,5.10,0,0,1,1
26,2021,47.43,125.17,47.55,112.29,12.88,2.82,1,0,0,0
43,2017,196.67,233.68,161.60,219.62,14.06,2.76,0,0,1,1
24,2019,44.11,87.79,39.33,76.60,11.19,1.86,0,0,0,0
6,2021,353.30,633.80,348.05,617.18,16.61,0.67,1,0,0,1

Data visualization